<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/user_form.css">
</head>
<body>
<div class="user-form">


<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Sign Up</legend>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <label for="password_confirmation">Password</label>
        <input id="password" type="password_confirmation" placeholder="Password">


        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
    <%= render "devise/shared/links" %>
</form>




</div>
</body>
</html>

