<html>
<head>
	<title></title>
	  <link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">
</head>
<body>
	<div class="center">
		<div class="prompt">
				<h1>Create a new blog entry.</h1>
		</div>
		<!-- uses _form.html.erb -->
		<%= render :partial => 'form' %>
	</div>
</body>
</html>