

html, body {
	font-family: 'Raleway', sans-serif;
	position: fixed;
	width: 100%;
	max-height: 600px;
}

.entry_content{
	width: 75%;
	max-height: 320px;
	border:1px solid #d6dce0;
	overflow: auto;
	text-align: left;
	position: fixed;
	top: 35%;
	left: 12.5%;
	padding-left: 3px;
	background: #f5f7f9;
	color: #33acb7;
}

.title{
	font-weight: 700;
	font-size: 28px;
}

.date{
	font-size: 14px;
	font-weight: 700;
}

#comments {
	padding-top: -6px;
	padding-bottom: 3px;
}