@import 'normalize';


html, body {
	font-family: 'Raleway', sans-serif;
	position: fixed;
	width: 100%;
	max-height: 600px;
}

.user-form{
	width: 100% ;
	text-align: center;
	position: fixed;
	top: 35%;
}

.field{
	padding-bottom: 4px;
}

.field p {
 height: auto;
}